<section>
  <h3>Welcome to ACKS II version {{version}}!</h3>
  <p>
    Join us on <a href="https://discord.gg/RRsNCSUprY">Discord</a>.
    Report issues and request features on <a href="https://github.com/AutarchLLC/foundryvtt-acks-core/issues">Github</a>.
  </p>
  <h4>What's new:</h4>
  <ul>
    <li>Added support for Foundry v13 and v14. Dropped support for Foundry v12 and below.</li>
    <li>Updated look and feel for Character, Monster and Item Sheets.</li>
    <li>Updated look and feel for various dialogs and applications.</li>
    <li>Fixed Active Effect tabs for Actors and Items.</li>
    <li>New Item type - <b>Item Bundle</b>. Add other items into a bundle and then drop the bundle on Character Sheet to
      quickly fill it.
    </li>
    <li>Now you can drop Roll Table on Monster Sheet to create a Treasure Link Button for quick access to the Table.
    </li>
    <li>Settings cleanup.</li>
    <li>New setting which allows automatic HP roll for unlinked monster actors when you drop them on scene.</li>
    <li>New setting which allows you to enable deletion confirmation of items from Actor Sheets.</li>
    <li>Various other internal changes, fixes and improvements.</li>
  </ul>
</section>
